extends ../layout

block content
    mixin tabs(tabsItems)
        - var tabActive = function (t) { return t.active ? 'active' : '' }

        mixin tab(index)
            - tabsItems[index].body = block;

        block

        - tabsItems[0].active = tabsItems[0].active || !tabsItems.some(function (t) { return t.active; })

        div
            ul.nav.nav-tabs(role="tablist")
                if user.isAdmin
                  button.btn.btn-secondary(type='submit')
                    | Update Senior
                each tab, index in tabsItems
                    li(role="presentation")
                        a(href="#"+"tab-id-" + index, aria-controls="tab-id-" + index, role="tab", data-toggle="tab", class=tabActive(tab))
                          if tab.icon
                              span.icon(class=tab.icon)
                          span= tab.title
                

            .tab-content
                each tab, index in tabsItems
                    .tab-pane(id="tab-id-" + index, role="tabpanel", class=tabActive(tab))
                        - tab.body && tab.body()

    -
        var data = [
            { title: 'Senior Info', active: true},
            { title: 'Room Assignment' },
            { title: 'Behavioral Problems' },
            { title: 'Additional Care' },
            { title: 'Financial Information' }
        ];

    // Here is the actual template logic
    form.body-form.body-form--with-tabs(id='seniorupdate-form', method='POST', action='/updateSenior/'+currentSenior._id.toString()+'?_method=PUT', novalidate, class=!user.isAdmin && 'locked' class=user.isAdmin && 'editable')
        input(type='hidden', name='_csrf', value=_csrf)
        .side-tabs
          +tabs(data)
            each tab, index in data
              +tab(index)
                -if (this.title == 'Senior Info')
                  .form-section
                    .form-group.form-section-header.form-section-header--center
                      h3.text-center Senior Information
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Senior Name
                      .col-md-10
                        input.form-control(type='text', name='seniorName', id='seniorName', placeholder='Senior Name',value= currentSenior.SeniorName, autofocus)
                    .form-group.row
                      label.col-sm-3.col-md-2.col-form-label Gender
                      .col-md-3
                        .col-md-12
                          label.form-radio-label.ml-4(for='M') Male
                            input.form-radio-input(type='radio', name='gender', id='M',  value = 'M', checked=currentSenior.Gender==='M')
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='F') Female
                            input.form-radio-input(type='radio', name='gender', id='F',  value = 'F', checked=currentSenior.Gender==='F')
                            span.radio
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Age
                      .col-md-4
                        input.form-control(type='number', pattern='^[0–9]$', name='age', id='age', placeholder='Age', value= currentSenior.Age)
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Zip Code
                      .col-md-4
                        input.form-control(type='number', pattern='^[0–9]$', name='zipCode', id='zipCode', placeholder='ZipCode', value= currentSenior.Zipcode)
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Email Address
                      .col-md-6
                        input.form-control(type='text', name='email', id='emailAddresss', placeholder='Email Address', value=currentSenior.FamilyEmail)

                -else if (this.title == 'Room Assignment')
                  -if (user.isAdmin)
                    .form-section
                      .form-group.form-section-header.form-section-header__with-button
                        h3.text-left Rooms

                      .form-group.row
                        .table-search(style="width:100%")
                          .row
                            .main-col(style="width:100%")
                              .main-col-section
                                .col-xs-12
                                  table.match-table(style="width:100%")
                                    thead
                                      tr
                                        th Room
                                        th Facility
                                        th Count
                                        th Type
                                        th Rent
                                        th
                                    tbody
                                      - for (var i = 0; i < currentSenior.rooms.length; i++)
                                        tr
                                          td= currentSenior.rooms[i].RoomName
                                          td= currentSenior.rooms[i].FacilityName
                                          td= currentSenior.rooms[i].RoomCount
                                          td= currentSenior.rooms[i].RoomType
                                          td= currentSenior.rooms[i].DesiredRent
                                          td
                                            label.form-check-label
                                              input.form-check-input(type='checkbox', id=`roomMatch-${currentSenior.rooms[i]._id}`, checked= currentSenior.rooms[i].selected, placeholder='', value=1, name=`roomMatch-${currentSenior.rooms[i]._id}`  )
                                              span.checkmark
                  -else
                    .form-section
                      .form-group.form-section-header.form-section-header__with-button
                        h3.text-left Rooms
                      .form-group.row
                        .table-search(style="width:100%")
                          .row
                            .main-col(style="width:100%")
                              .main-col-section
                                .col-xs-12
                                  table.match-table(style="width:100%")
                                    thead
                                      tr
                                        th Room
                                        th Count
                                        th Type
                                        th Rent
                                        th
                                    tbody
                                      - for (var i = 0; i < facilityRooms.length; i++)
                                        tr
                                          td= facilityRooms[i].RoomName
                                          td= facilityRooms[i].RoomCount
                                          td= facilityRooms[i].RoomType
                                          td= facilityRooms[i].DesiredRent
                                          td
                                            label.form-check-label
                                              input.form-check-input(type='checkbox', id=`roomMatch-${facilityRooms[i]._id}`, checked= facilityRooms[i].selected, placeholder='', value=1, name=`roomMatch-${facilityRooms[i]._id}`  )
                                              span.checkmark

                -else if (this.title == 'Behavioral Problems')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Behavioral Problems
                        h4.text-left Does the Senior Exhibit any Behavioral Problems?
                    br
                    .form-group.row
                      label.col-form-label.col-form-label__stacked.check-group-labelDoes Does the Senior Exhibit any Behavioral Problems?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='behaviorproblems_yes') Yes
                            input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_yes' value= 'true', checked=currentSenior.BehaviorProblems)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='behaviorproblems_no') No
                            input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_no' value= 'false', checked=!currentSenior.BehaviorProblems)
                            span.radio
                    .form-group.row
                      label.col-form-label.col-form-label__stacked.check-group-labelDoes Are They Physically Aggressive?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='physicalaggressive_yes') Yes
                            input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_yes' value= 'true', checked=currentSenior.PhysicalAggressive)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='physicalaggressive_no') No
                            input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_no' value= 'false', checked=!currentSenior.PhysicalAggressive)
                            span.radio
                    .form-group.row
                      label.col-form-label.col-form-label__stacked.check-group-labelDoes Are the Behaviors Severe or Frequent?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='severeorfrequent_yes') Yes
                            input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_yes' value= 'true', checked=currentSenior.SevereOrFrequentBehaviors)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='severeorfrequent_no') No
                            input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_no' value= 'false', checked=!currentSenior.SevereOrFrequentBehaviors)
                            span.radio


                - else if (this.title == 'Additional Care')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Additional Health Accomodations
                        h4.text-left What types of special assistance does the Senior require?
                    br 
                    .form-group.row
                      label.col-lg-6.col-md-8.col-form-label How many daily insulin shots does the senior require?
                      .col-md-4
                        input.form-control(type='number', name='insulinShots', id='insulinShots', placeholder='Insulin Shots', autofocus, required, value=currentSenior.InsulinShots)
                    br 

                    .form-group.row
                      label.col-lg-6.col-md-8.col-form-label Memory Care
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='memorycare_yes') Yes
                            input.form-radio-input(type='radio', name='memoryCare', id='memorycare_yes' value = 'true', checked= currentSenior.MemoryCare)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='memorycare_no') No
                            input.form-radio-input(type='radio', name='memoryCare', id='memorycare_no' value = 'false', checked= !currentSenior.MemoryCare)
                            span.radio
                    br 
                    .form-group.row
                      label.col-lg-6.col-md-8.col-form-label Does the senior require an Oxygen Tank?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='oxygentank_yes') Yes
                            input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_yes' value = 'true', checked= currentSenior.OxygenTank)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='oxygentank_no') No
                            input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_no' value = 'false', checked= !currentSenior.OxygenTank)
                            span.radio
                    br
                    .form-group.row
                      label.col-lg-6.col-md-8.col-form-label Does the senior require an oxygen tank at all times?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='alltimeoxygen_yes') Yes
                            input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_yes' value = 'true', checked= currentSenior.ContinousOxygen)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='alltimeoxygen_no') No
                            input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_no' value = 'false', checked= !currentSenior.ContinousOxygen)
                            span.radio
                    br 
                    .form-group.row
                      label.col-lg-6.col-md-8.col-form-label Can the senior change their own catheter/colostomy bag?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='changecatheter_yes') Yes
                            input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_yes' value = 'true', checked= currentSenior.ChangeCatheterOrColostomyBag)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='changecatheter_no') No
                            input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_no' value = 'false', checked= !currentSenior.ChangeCatheterOrColostomyBag)
                            span.radio
                    br
                    .form-group.row
                      label.col-md-12.col-form-label Which activities of Daily Living do they need 1 on 1 Assistance?
                        .col-md-4
                          label.form-check-label Eating
                            input.form-check-input(type='checkbox', id=`eating`, name='eating' value='true' checked=currentSenior.eating )
                            span.checkmark
                          label.form-check-label Dressing
                            input.form-check-input(type='checkbox', id=`dressing`, name='dressing' value='true' checked=currentSenior.dressing )
                            span.checkmark
                          label.form-check-label Bathing
                            input.form-check-input(type='checkbox', id=`bathing`, name='bathing' value='true' checked=currentSenior.bathing )
                            span.checkmark
                          label.form-check-label Transfers
                            input.form-check-input(type='checkbox', id=`transfers`, name='transfers' value='true' checked=currentSenior.transfers )
                            span.checkmark
                          label.form-check-label Moving
                            input.form-check-input(type='checkbox', id=`moving`, name='moving' value='true' checked=currentSenior.moving )
                            span.checkmark
                          label.form-check-label Toileting
                            input.form-check-input(type='checkbox', id=`toileting`, name='toileting' value='true' checked=currentSenior.toileting )
                            span.checkmark
                - else if (this.title == 'Financial Information')
                  .form-group.form-section-header.form-section-header--center
                    h3.text-center Senior Financial Information
                  .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Medicaid
                    .col-md-6
                      .col-md-12
                        label.form-radio-label.ml-4(for='medicAid_yes') Yes
                          input.form-radio-input(type='radio', name='medicaid', id='medicAid_yes' value = 'true', checked= currentSenior.Medicaid)
                          span.radio
                      .col-md-12
                        label.form-radio-label.ml-4(for='medicAid_no') No
                          input.form-radio-input(type='radio', name='medicaid', id='medicAid_no' value = 'false', checked= !currentSenior.Medicaid)
                          span.radio
                  br
                  .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Desired Rent
                    .col-md-6
                      input.form-control(type='number', name='desiredRent', id='desiredRent', placeholder='$0.00', value=currentSenior.DesiredRent)
                  br
                  .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Does the senior require respite care?
                    .col-md-6
                      .col-md-12
                        label.form-radio-label.ml-4(for='respite_yes') Yes
                          input.form-radio-input(type='radio', name='respiteCare', id='respite_yes' value = 'true' checked=currentSenior.RespiteCare)
                          span.radio
                      .col-md-12
                        label.form-radio-label.ml-4(for='respite_no') No
                          input.form-radio-input(type='radio', name='respiteCare', id='respite_no' value = 'false' checked=!currentSenior.RespiteCare)
                          span.radio
                  br



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script.
      

      //Phone Number Parsing
      $(document).ready( function() {

        var form = document.getElementById('seniorupdate-form');
        //console.log('check form here', form);
        if (form.className.indexOf("locked") > -1) {
          console.log('disable form inputs');
          var elements = form.elements;
          for (var i = 0, len = elements.length; i < len; ++i) {
            elements[i].disabled = true;
          }
        }

        
        var phone_input = document.getElementById('contactNumber');
        phone_input.addEventListener('input', function (evt) {
          var number_value = document.getElementById('contactNumber').value,
              final_value;
          if (number_value.length >= 14) return;

          if (number_value.length == 3) {
            //reformat and return phone number
            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})/, "($1) ");
          } else if (number_value.length == 10) {

            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})(\d{3})/, "($1) $2-");

          } else if (number_value.length == 14) {
            //reformat and return phone number
            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
          } else {
            final_value = number_value
          }

          document.getElementById('contactNumber').value = final_value;
        });


        
      });

            