extends ../layout

block content

    .row.pb-2.m-t-40.mb-4.border-bottom
        .col-xs-12.col-md-12.col-lg-6.text-left
            h1 Senior Room Profile
        .col-lg-6.hidden-sm.text-right
            .step-form-breadcrumbs.breadcrumbs-flex.text-right
                span.step
                span.step
                span.step
                span.step
                span.step
                span.step
    form.body-form.body-form__centered(id='seniorcreate-form', method='POST', action='/createseniorrecord', novalidate)
        input(type='hidden', name='_csrf', value=_csrf)

        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Timeframe
                .form-group.row
                    label.col-lg-8.col-md-8.col-form-label I am looking for placement in
                    .col-md-12.full-width-radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='placement_1month') Less than 1 month
                                input.form-radio-input(type='radio', name='placement', id='placement_1month' value = 1)
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='placement_1to3months') 1-3 months
                                input.form-radio-input(type='radio', name='placement', id='placement_1to3months' value = 2)
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='placement_morethan3months') More than 3 months
                                input.form-radio-input(type='radio', name='placement', id='placement_morethan3months' value = 3)
                                span.radio
        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Contact Info
                .form-group.row
                    label.col-form-label.col-form-label__stacked Contact Name
                    .col-md-10
                        input.form-control(type='text', name='contactName', id='contactName', placeholder='Contact Name')
                .form-group.row
                    label.col-form-label.col-form-label__stacked Contact Email
                    .col-md-10
                        input.form-control(type='email', name='contactEmail', id='contactEmail', placeholder='Email', autofocus, autocomplete='email')
                .form-group.row
                    label.col-form-label.col-form-label__stacked Contact relationship to the senior
                    .col-md-6
                        input.form-control(type='text', name='contactRelationship', id='contactRelationship', placeholder='Contact Relationship')
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Please check any of the following that apply
                    .col-md-12
                        .form-check
                            label.form-check-label(for='power_attorney')= myconstants.constants('Power_attorney')
                                input.form-check-input(type='checkbox', name='power_attorney', id='power_attorney', placeholder='power_attorney' value=1)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='healthcare_proxy')= myconstants.constants('Healthcare_proxy')
                                input.form-check-input(type='checkbox', name='healthcare_proxy', id='healthcare_proxy', placeholder='healthcare_proxy' value=1)
                                span.checkmark
                .form-group.row
                    label.col-lg-5.col-md-6.col-form-label I would like the Senior to live with me
                    .col-md-4
                        .col-md-12
                            label.form-radio-label.ml-4(for='senior_living_yes') Yes
                                input.form-radio-input(type='radio', name='senior_living', id='senior_living_yes' value = 'Y', checked= currentSenior.Senior_Living==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='senior_living_no') No
                                input.form-radio-input(type='radio', name='senior_living', id='senior_living_yes' value = 'N', checked= currentSenior.Senior_Living==='N')
                                span.radio
        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Senior Information
                .form-group.row
                    label.col-sm-3.col-md-2.col-form-label Gender
                    .col-md-3
                        .col-md-12
                            label.form-radio-label.ml-4(for='M') Male
                                input.form-radio-input(type='radio', name='gender', id = 'M',  value = 'M')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='F') Female
                                input.form-radio-input(type='radio', name='gender', id = 'F',  value = 'F')
                                span.radio
                .form-group.row
                    label.col-form-label.col-form-label__stacked Age
                    .col-md-4
                        input.form-control(type='number', pattern='^[0–9]$', name='age', id='age', placeholder='Age')
                .form-group.row
                    label.col-form-label.col-form-label__stacked Zip Code
                    .col-md-4
                        input.form-control(type='number', pattern='^[0–9]$', name='zipCode', id='zipCode', placeholder='ZipCode')
        .step-form-tab
            .form-section
                .form-group.form-section-header
                    h3.text-left General Assistance Accomodations
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Eating
                    .col-md-10
                        .form-check
                            label.form-check-label(for='eating_noassistance')= myconstants.constants('Eating_noassistance')
                                input.form-check-input(type='checkbox', name='eating_noassistance', id='eating_noassistance', placeholder='eating_noassistance' value=1, checked= currentSenior.Eating_noassistance)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='eating_intermittent')= myconstants.constants('Eating_intermittent')
                                input.form-check-input(type='checkbox', name='eating_intermittent', id='eating_intermittent', placeholder='eating_intermittent', value=1, checked= currentSenior.Eating_intermittent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='eating_continual')= myconstants.constants('Eating_continual')
                                input.form-check-input(type='checkbox', name='eating_continual', id='eating_continual', placeholder='eating_continual' value=1, checked= currentSenior.Eating_continual)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='eating_byhand')= myconstants.constants('Eating_byhand')
                                input.form-check-input(type='checkbox', name='eating_byhand', id='eating_byhand', placeholder='eating_byhand' value=1, checked= currentSenior.Eating_byhand)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='eating_tube')= myconstants.constants('Eating_tube')
                                input.form-check-input(type='checkbox', name='eating_tube', id='eating_tube', placeholder='eating_tube' value=1, checked= currentSenior.Eating_tube)
                                span.checkmark
                br 
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Transfers
                    .col-md-10
                        .form-check
                            label.form-check-label(for='transfers_none')= myconstants.constants('Transfers_none')
                                input.form-check-input(type='checkbox', name='transfers_none', id='transfers_none', placeholder='transfers_none' value=1, checked= currentSenior.Transfers_none)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='transfers_intermittent')= myconstants.constants('Transfers_intermittent')
                                input.form-check-input(type='checkbox', name='transfers_intermittent', id='transfers_intermittent', placeholder='transfers_intermittent' value=1, checked= currentSenior.Transfers_intermittent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='transfers_oneperson')= myconstants.constants('Transfers_oneperson')
                                input.form-check-input(type='checkbox', name='transfers_oneperson', id='transfers_oneperson', placeholder='transfers_oneperson' value=1, checked= currentSenior.Transfers_oneperson)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='transfers_twoperson')= myconstants.constants('Transfers_twoperson')
                                input.form-check-input(type='checkbox', name='transfers_twoperson', id='transfers_twoperson', placeholder='transfers_twoperson' value=1, checked= currentSenior.Transfers_twoperson)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='transfers_cannot')= myconstants.constants('Transfers_cannot')
                                input.form-check-input(type='checkbox', name='transfers_cannot', id='transfers_cannot', placeholder='transfers_cannot' value=1, checked= currentSenior.Transfers_cannot)
                                span.checkmark
                br    
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Mobility
                    .col-md-10
                        .form-check
                            label.form-check-label(for='mobiliy_noassisstance')= myconstants.constants('Mobiliy_noassisstance')
                                input.form-check-input(type='checkbox', name='mobiliy_noassisstance', id='mobiliy_noassisstance', placeholder='mobiliy_noassisstance' value=1, checked= currentSenior.Mobiliy_noassisstance)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='mobiliy_intermittent')= myconstants.constants('Mobiliy_intermittent')
                                input.form-check-input(type='checkbox', name='mobiliy_intermittent', id='mobiliy_intermittent', placeholder='mobiliy_intermittent' value=1, checked= currentSenior.Mobiliy_intermittent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='mobiliy_continual')= myconstants.constants('Mobiliy_continual')
                                input.form-check-input(type='checkbox', name='mobiliy_continual', id='mobiliy_continual', placeholder='mobiliy_continual' value=1, checked= currentSenior.Mobiliy_continual)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='mobiliy_wheels')= myconstants.constants('Mobiliy_wheels')
                                input.form-check-input(type='checkbox', name='mobiliy_wheels', id='mobiliy_wheels', placeholder='mobiliy_wheels' value=1, checked= currentSenior.Mobiliy_wheels)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='mobiliy_cannotmove')= myconstants.constants('Mobiliy_cannotmove')
                                input.form-check-input(type='checkbox', name='mobiliy_cannotmove', id='mobiliy_cannotmove', placeholder='mobiliy_cannotmove' value=1, checked= currentSenior.Mobiliy_cannotmove)
                                span.checkmark
                br     
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Toileting
                    .col-md-10
                        .form-check
                            label.form-check-label(for='toileting_noassisstance')= myconstants.constants('Toileting_noassisstance')
                                input.form-check-input(type='checkbox', name='toileting_noassisstance', id='toileting_noassisstance', placeholder='toileting_noassisstance' value=1, checked= currentSenior.Toileting_noassisstance)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='toileting_bowel')= myconstants.constants('Toileting_bowel')
                                input.form-check-input(type='checkbox', name='toileting_bowel', id='toileting_bowel', placeholder='toileting_bowel' value=1, checked= currentSenior.Toileting_bowel)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='toileting_continual')= myconstants.constants('Toileting_continual')
                                input.form-check-input(type='checkbox', name='toileting_continual', id='toileting_continual', placeholder='toileting_continual' value=1, checked= currentSenior.Toileting_continual)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='toileting_nobathroomincontinent')= myconstants.constants('Toileting_nobathroomincontinent')
                                input.form-check-input(type='checkbox', name='toileting_nobathroomincontinent', id='toileting_nobathroomincontinent', placeholder='toileting_nobathroomincontinent' value=1, checked= currentSenior.Toileting_nobathroomincontinent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='toileting_bathroomincontinent')= myconstants.constants('Toileting_bathroomincontinent')
                                input.form-check-input(type='checkbox', name='toileting_bathroomincontinent', id='toileting_bathroomincontinent', placeholder='toileting_bathroomincontinent' value=1, checked= currentSenior.Toileting_bathroomincontinent)
                                span.checkmark
        .step-form-tab
            .form-section
                .form-group.form-section-header
                    h3.text-left Behavioral Needs
                br
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Verbal Disruption
                    .col-md-10
                        .form-check
                            label.form-check-label(for='verbal_none')= myconstants.constants('Verbal_none')
                                input.form-check-input(type='checkbox', name='verbal_none', id='verbal_none', placeholder='verbal_none' value=1, , checked= currentSenior.Verbal_none)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='verbal_infrequent')= myconstants.constants('Verbal_infrequent')
                                input.form-check-input(type='checkbox', name='verbal_infrequent', id='verbal_infrequent', placeholder='verbal_infrequent' value=1, checked= currentSenior.Verbal_infrequent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='verbal_predictable')= myconstants.constants('Verbal_predictable')
                                input.form-check-input(type='checkbox', name='verbal_predictable', id='verbal_predictable', placeholder='verbal_predictable' value=1, checked= currentSenior.Verbal_predictable)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='verbal_onceunpredictable')= myconstants.constants('Verbal_onceunpredictable')
                                input.form-check-input(type='checkbox', name='verbal_onceunpredictable', id='verbal_onceunpredictable', placeholder='verbal_onceunpredictable' value=1, checked= currentSenior.Verbal_onceunpredictable)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='verbal_multipleunpredictable')= myconstants.constants('Verbal_multipleunpredictable')
                                input.form-check-input(type='checkbox', name='verbal_multipleunpredictable', id='verbal_multipleunpredictable', placeholder='verbal_multipleunpredictable' value=1, checked= currentSenior.Verbal_multipleunpredictable)
                                span.checkmark
                br
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Physical Aggression
                    .col-md-10
                        .form-check
                            label.form-check-label(for='physical_none')= myconstants.constants('Physical_none')
                                input.form-check-input(type='checkbox', name='physical_none', id='physical_none', placeholder='physical_none' value=1, checked= currentSenior.Physical_none)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='physical_infrequent')= myconstants.constants('Physical_infrequent')
                                input.form-check-input(type='checkbox', name='physical_infrequent', id='physical_infrequent', placeholder='physical_infrequent' value=1, checked= currentSenior.Physical_infrequent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='physical_predictable')= myconstants.constants('Physical_predictable')
                                input.form-check-input(type='checkbox', name='physical_predictable', id='physical_predictable', placeholder='physical_predictable' value=1, checked= currentSenior.Physical_predictable)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='physical_onceunpredictable')= myconstants.constants('Physical_onceunpredictable')
                                input.form-check-input(type='checkbox', name='physical_onceunpredictable', id='physical_onceunpredictable', placeholder='physical_onceunpredictable' value=1, checked= currentSenior.Physical_onceunpredictable)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='physical_multipleunpredictable')= myconstants.constants('Physical_multipleunpredictable')
                                input.form-check-input(type='checkbox', name='physical_multipleunpredictable', id='physical_multipleunpredictable', placeholder='physical_multipleunpredictable' value=1, checked= currentSenior.Physical_multipleunpredictable)
                                span.checkmark
                br
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-label Socially Inappropriate Behavior
                    .col-md-10
                        .form-check
                            label.form-check-label(for='behaviourial_none')= myconstants.constants('Behaviourial_none')
                                input.form-check-input(type='checkbox', name='behaviourial_none', id='behaviourial_none', placeholder='behaviourial_none', value=1, checked= currentSenior.Behaviourial_none)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='behaviourial_yesnondisruptive')= myconstants.constants('Behaviourial_yesnondisruptive')
                                input.form-check-input(type='checkbox', name='behaviourial_yesnondisruptive', id='behaviourial_yesnondisruptive', placeholder='behaviourial_yesnondisruptive' value=1, checked= currentSenior.Behaviourial_yesnondisruptive)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='behaviourial_infrequent')= myconstants.constants('Behaviourial_infrequent')
                                input.form-check-input(type='checkbox', name='behaviourial_infrequent', id='behaviourial_infrequent', placeholder='behaviourial_infrequent' value=1, checked= currentSenior.Behaviourial_infrequent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='behaviourial_frequent')= myconstants.constants('Behaviourial_frequent')
                                input.form-check-input(type='checkbox', name='behaviourial_frequent', id='behaviourial_frequent', placeholder='behaviourial_frequent' value=1, checked= currentSenior.Behaviourial_frequent)
                                span.checkmark
                        .form-check
                            label.form-check-label(for='behaviourial_unpredictable')= myconstants.constants('Behaviourial_unpredictable')
                                input.form-check-input(type='checkbox', name='behaviourial_unpredictable', id='behaviourial_unpredictable', placeholder='behaviourial_unpredictable' value=1, checked= currentSenior.Behaviourial_unpredictable)
                                span.checkmark
                br
                .form-group.row
                    label.col-lg-3.col-md-5.col-form-label Hallucinations
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='hallucinations_yes') Yes
                                input.form-radio-input(type='radio', name='hallucinations', id='hallucinations_yes' value = 'Y', checked= currentSenior.Hallucination==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='hallucinations_no') No
                                input.form-radio-input(type='radio', name='hallucinations', id='hallucinations_no' value = 'N', checked= currentSenior.Hallucination==='N')
                                span.radio
        .step-form-tab
            .form-section
                .form-group.form-section-header
                    h3.text-left Senior's Health Information
                br
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label How Many Insulin Shots Can You Administer?
                    .col-md-4
                        input.form-control(type='number', name='insulinshots', id='insulinshots', placeholder='Insulin Shots', value=currentSenior.InsulinShots)
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Hallucinations
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='hallucinations_yes') Yes
                                input.form-radio-input(type='radio', name='hallucinations', id='hallucinations_yes' value = 'Y', checked= currentSenior.Hallucination==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='hallucinations_no') No
                                input.form-radio-input(type='radio', name='hallucinations', id='hallucinations_no' value = 'N', checked= currentSenior.Hallucination==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-3.col-md-5.col-form-label Memory Care
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_yes') Yes
                                input.form-radio-input(type='radio', name='memorycare', id='memorycare_yes' value = 'Y', checked= currentSenior.MemoryCare==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_no') No
                                input.form-radio-input(type='radio', name='memorycare', id='memorycare_no' value = 'N', checked= currentSenior.MemoryCare==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Would you Take a Resident with an Oxygen Tank?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='oxygentank_yes') Yes
                                input.form-radio-input(type='radio', name='oxygentank', id='oxygentank_yes' value = 'Y', checked= currentSenior.OxygenTank==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='oxygentank_no') No
                                input.form-radio-input(type='radio', name='oxygentank', id='oxygentank_no' value = 'N', checked= currentSenior.OxygenTank==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Would you Take a Resident who cannot change an Oxygen Tank by Themselves?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='changeoxygentank_yes') Yes
                                input.form-radio-input(type='radio', name='changeoxygentank', id='changeoxygentank_yes' value = 'Y' checked= currentSenior.ChangeOxygenTank==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='changeoxygentank_no') No
                                input.form-radio-input(type='radio', name='changeoxygentank', id='changeoxygentank_no' value = 'N' checked= currentSenior.ChangeOxygenTank==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Would you take a Resident who needs to be on oxygen at all times?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='alltimeoxygen_yes') Yes
                                input.form-radio-input(type='radio', name='alltimeoxygen', id='alltimeoxygen_yes' value = 'Y',  checked= currentSenior.AllTimeOxygen==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='alltimeoxygen_no') No
                                input.form-radio-input(type='radio', name='alltimeoxygen', id='alltimeoxygen_no' value = 'N' checked= currentSenior.AllTimeOxygen==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Would you take a Resident who cannot change their own catheter/colostomy bag?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='changecatheter_yes') Yes
                                input.form-radio-input(type='radio', name='changecatheter', id='changecatheter_yes' value = 'Y' checked= currentSenior.ChangeCatheter==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='changecatheter_no') No
                                input.form-radio-input(type='radio', name='changecatheter', id='changecatheter_no' value = 'N' checked= currentSenior.ChangeCatheter==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Do you provide medication management?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='medicationmanagement_yes') Yes
                                input.form-radio-input(type='radio', name='medicationmanagement', id='medicationmanagement_yes' value = 'Y' checked= currentSenior.MedicationManagement==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='medicationmanagement_no') No
                                input.form-radio-input(type='radio', name='medicationmanagement', id='medicationmanagement_no' value = 'N' checked= currentSenior.MedicationManagement==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-md-5.col-form-label Do you provide thickened liquid diets for residents?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='liquiddiets_yes') Yes
                                input.form-radio-input(type='radio', name='liquiddiets', id='liquiddiets_yes' value = 'Y' checked= currentSenior.LiquidDiets==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='liquiddiets_no') No
                                input.form-radio-input(type='radio', name='liquiddiets', id='liquiddiets_no' value = 'N' checked= currentSenior.LiquidDiets==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Do you provide ground diets for residents?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='grounddiets_yes') Yes
                                input.form-radio-input(type='radio', name='grounddiets', id='grounddiets_yes' value = 'Y' checked= currentSenior.GroundDiets==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='grounddiets_no') No
                                input.form-radio-input(type='radio', name='grounddiets', id='grounddiets_no' value = 'N' checked= currentSenior.GroundDiets==='N')
                                span.radio
                                br 
                .form-group.row
                    label.col-lg-3.col-md-5.col-form-label Memory Care
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_yes') Yes
                                input.form-radio-input(type='radio', name='memorycare', id='memorycare_yes' value = 'Y', checked= currentSenior.MemoryCare==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_no') No
                                input.form-radio-input(type='radio', name='memorycare', id='memorycare_no' value = 'N', checked= currentSenior.MemoryCare==='N')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Does Your Senior Need a Secure Memory Care Unit (Do They Wander Off?)
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_unit_yes') Yes
                                input.form-radio-input(type='radio', name='memorycare_unit_yes', id='memorycare_yes' value = 'Y', checked= currentSenior.MemoryCareUnit==='Y')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare__unit_no') No
                                input.form-radio-input(type='radio', name='memorycare__unit_no', id='memorycare__unit_no' value = 'N', checked= currentSenior.MemoryCareUnit==='N')
                                span.radio
                br
                .form-group.row
                    label.col-lg-12.col-md-12.col-form-label Any Other Health Information You'd Like to Include?
                    .col-md-12
                        input.form-control(type='number', name='otherInformation', id='otherInformation', placeholder='Special Diets, Smoket, etc.', value=currentSenior.otherHealthInformation)


            //br 
            //.form-group.offset-sm-1.col-md-6.pl-2
              //button.btn.btn-willow.btn-signup-form(type='submit')
                i.fas.fa-user-plus.fa-sm
                | Signup
        .row.button-row(id="submitRow")
            .col-md-6
                button.btn-subtle(id='prevBtn2', onclick='nextPrev(-1)', type='button')
                    | Previous
            .col-md-6
                button.btn-secondary(type='submit')
                    i.fas.fa-user-plus.fa-sm
                    | Signup
        .row.button-row(id="prevNextRow")
            .col-md-6
                button.btn-subtle(id='prevBtn1', onclick='nextPrev(-1)', type='button')
                    | Previous
            .col-md-6(id="nextContainer")
                button.btn-secondary(id='nextBtn', onclick='nextPrev(1)', type='button')
                    | Next
      
      



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script.
        var currentTab = 0; // Current tab is set to be the first tab (0)
        $(document).ready( function() {
            showTab(currentTab); // Display the current tab
        });


      function showTab(n, direction) {
        console.log('show tabe??', n);

        //=== This function will display the specified tab of the form...
          var x = document.getElementsByClassName("step-form-tab");
          x[n].style.display = "block";

        //===... and fix the Previous/Next buttons:


        if (n == (x.length - 1)) {
          //=== Show the submit button
            document.getElementById("prevNextRow").style.display = "none";
            document.getElementById("submitRow").style.display = "flex";
            document.getElementById("prevBtn1").style.display = "none";
        } else {
          //=== Don't show the submit row until the end
            document.getElementById("submitRow").style.display = "none";
            document.getElementById("nextBtn").innerHTML = "Next";
            document.getElementById("prevBtn2").style.display = "none";
        }

        //... and run a function that will display the correct step indicator:
          fixStepIndicator(n, direction);
      }

      function nextPrev(n) {
        // This function will figure out which tab to display
          var x = document.getElementsByClassName("step-form-tab");

        // Exit the function if any field in the current tab is invalid, only for first tab
        if (n == 1 && currentTab == 0 && !validateForm(currentTab)) return false;

        // Exit the function if we're on the first tab and trying previous
        if (currentTab + n <= 0) return;

        // Hide the current tab
          x[currentTab].style.display = "none";

        // Increase or decrease the current tab by 1
          currentTab = currentTab + n;
          
        // if you have reached the end of the form...
          if (currentTab >= x.length) {
            return false;
          }

        // Otherwise, display the correct tab:
          showTab(currentTab, n);
      }

      function fixStepIndicator(n, direction) {
        //=== This function removes the "active" class of all steps...
          var i, 
            x = document.getElementsByClassName("step");

          //=== ... and remove the "complete" class from all future steps in case we went backwards
          if(direction == -1) {
            console.log('for i greater than n remove the complete class', x[previousIndex]);
            x[n].className = x[n].className.replace("complete", "");

            var previousIndex = n + 1;
            x[previousIndex].className = x[previousIndex].className.replace("active", "");
            x[previousIndex].className = x[previousIndex].className.replace("complete", "");
          } else {
            for (i = 0; i < x.length; i++) {
              x[i].className = x[i].className.replace("active", " complete");
            }
          }
          

          

        //... and adds the "active" class on the current step:
          x[n].className += " active";

      }

      //====== Only need to validate step-one for required fields ======//
      function validateForm(currentTab) {
        // This function deals with validation of the form fields
          var x, y, i, valid = true;
          x = document.getElementsByClassName("step-form-tab");
          y = x[currentTab].getElementsByTagName("input");
          var formData = $(y).serializeArray();
          console.log('formData', formData);

        // A loop that checks every input field in the current tab:

          for (i = 0; i < formData.length; i++) {
            // If a field is empty...
            if (formData[i].value == "") {
              // add an "invalid" class to the field:
              y[i].className += " invalid";
              // and set the current valid status to false:
              valid = false;
            }
          }
        // If the valid status is true, mark the step as finished and valid:
          return valid; // return the valid status
      }
          
    
