extends layout

block content
    h5 Facility
        a.col-md-3(href="/updatefacility/"+currentFacility._id)
            h6.i.ml-4.fas.fa-edit  Update Facility Information
    .row
    table.table
        thead.thead-light
        tr
            th Name
            th= currentFacility.FacilityName
        tr
            td Address
            td= currentFacility.Address.street +', ' + currentFacility.Address.city +', ' +currentFacility.Address.state+', '+currentFacility.Address.zip 
    br
    br
    p.lead Level of Assistance
    .row
    - for (var key in currentFacility.FacilityFeatures)
        -if(key != '$init')
            -if(currentFacility.FacilityFeatures.hasOwnProperty(key) && currentFacility.FacilityFeatures[key] == true)
                    .col-md-6
                        table.table
                            thead.thead-light
                                tr
                                    td.col-md-6.text-left= key
                                    td.col-md-6.text-left= currentFacility.FacilityFeatures[key]
    hr
    br
    .row
    p.lead Room Details
    .col
        .row.mt-4 
            .col
                form
                    .row
                        .col
                            if currentRooms && currentRooms.length
                                - for (var i = 0; i < currentRooms.length; i++)
                                    h6= currentRooms[i].RoomName
                                        a.col-md-3(href="/updateroom/"+currentFacility._id+'/'+currentRooms[i]._id)
                                            h6.i.ml-4.fas.fa-edit  Update Room Information
                                    .row
                                        .col-md-12
                                            table.table
                                                thead.thead-light
                                                tr
                                                    th.text-left Total Count 
                                                    th.text-left= currentRooms[i].RoomCount
                                                tr
                                                    td.text-left Room Type 
                                                    td.text-left= currentRooms[i].RoomType
                                                tr
                                                    td.text-left Range 
                                                    td.text-left #{currentRooms[i].Range.min} 'to' #{currentRooms[i].Range.max}
                            else    
                                p.lead No room profiles are registered under this facility

    a(href="/roomsignup/"+currentFacility._id)
        button.btn.btn-primary.mt-4(type='button') Add Room +