extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Room Sign up

  form.body-form(id='roomsignup-form', method='POST', action='/roomsignup/'+currentFacility._id.toString())
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Name
      .col-md-4
        input.form-control(type='text', name='roomName', id='roomName', placeholder='Room Name', autofocus, required)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Count
      .col-md-4
        input.form-control(type='number', name='count', id='count', placeholder='Room Count', autofocus, required)
    .form-group.row
        label.col-form-label.col-form-label__stacked(for='roomtype') Room Type
        .col-md-3.col-sm-4
            select.form-control(id='roomtype' name='roomtype')
              option Private
              option Semi-Private
              option Suit
              option Studio Apartment
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Rent Range
      .col-md-7.form-group__inline
        .col-md-3
          input.form-control.text-right(type='number', name='min', id='min', placeholder='0.00', step='0.01', autofocus, required)
        .col-md-1.text-center
          label to 
        .col-md-3 
          input.form-control.text-right(type='number', name='max', id='max', placeholder='0.00', autofocus, required)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Rent Range
      .col-md-7.form-group__inline
        .col-md-3
          input.form-control.text-right(type='number', name='min', id='min', placeholder='0.00', step='0.01', autofocus, required)
        .col-md-1.text-center
          label to 
        .col-md-3 
          input.form-control.text-right(type='number', name='max', id='max', placeholder='0.00', autofocus, required)
    .form-group.row
      label.col-sm-3.col-md-2.col-form-label Gender
      .col-md-3
        .col-md-12
          label.form-radio-label.ml-4(for='male') Male
            input.form-radio-input(type='radio', name='gender', id='male' value = 'M')
            span.radio
        .col-md-12
          label.form-radio-label.ml-4(for='female') Female
            input.form-radio-input(type='radio', name='gender', id='female' value = 'F')
            span.radio

    .form-section
      .form-group.form-section-header
          h3.text-left General Assistance Accomodations
              h4.text-left What level of assistance can your facility provide?
      .form-group.row
            label.col-sm-3.col-md-2.col-form-label Medicaid Bed
            .col-md-3
              .col-md-12
                label.form-radio-label.ml-4(for='medicaid_yes') Yes
                  input.form-radio-input(type='radio', checked= currentFacility.MedicAid==='Y', name='medicaid', id='medicaid_yes' value = 'Y')
                  span.radio
              .col-md-12
                label.form-radio-label.ml-4(for='medicaid_no') No
                  input.form-radio-input(type='radio', checked= currentFacility.MedicAid==='N', name='medicaid', id='medicaid_no' value = 'N')
                  span.radio
      .form-group.row
        label.col-sm-3.col-md-2.col-form-label Is this room within a secure unit/ have a Wanderguard?
        .col-md-3
          .col-md-12
            label.form-radio-label.ml-4(for='wanderguard_yes') Yes
              input.form-radio-input(type='radio', checked= currentFacility.Wanderguard==='Y', name='Wanderguard', id='wanderguard_yes' value = 'Y')
              span.radio
          .col-md-12
            label.form-radio-label.ml-4(for='wandergaurd_no') No
              input.form-radio-input(type='radio', checked= currentFacility.Wanderguard==='N', name='Wanderguard', id='wandergaurd_no' value = 'N')
              span.radio
    
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Eating
        .col-md-6
          .form-check
              label.form-check-label(for='eating_noassistance')= myconstants.constants('Eating_noassistance')
                  input.form-check-input(type='checkbox', name='eating_noassistance', id='eating_noassistance', placeholder='eating_noassistance' value=1, checked= currentFacility.FacilityFeatures.Eating_noassistance)
                  span.checkmark
          .form-check
              label.form-check-label(for='eating_intermittent')= myconstants.constants('Eating_intermittent')
                  input.form-check-input(type='checkbox', name='eating_intermittent', id='eating_intermittent', placeholder='eating_intermittent', value=1, checked= currentFacility.FacilityFeatures.Eating_intermittent)
                  span.checkmark
          .form-check
              label.form-check-label(for='eating_continual')= myconstants.constants('Eating_continual')
                  input.form-check-input(type='checkbox', name='eating_continual', id='eating_continual', placeholder='eating_continual' value=1, checked= currentFacility.FacilityFeatures.Eating_continual)
                  span.checkmark
          .form-check
              label.form-check-label(for='eating_byhand')= myconstants.constants('Eating_byhand')
                  input.form-check-input(type='checkbox', name='eating_byhand', id='eating_byhand', placeholder='eating_byhand' value=1, checked= currentFacility.FacilityFeatures.Eating_byhand)
                  span.checkmark
          .form-check
              label.form-check-label(for='eating_tube')= myconstants.constants('Eating_tube')
                  input.form-check-input(type='checkbox', name='eating_tube', id='eating_tube', placeholder='eating_tube' value=1, checked= currentFacility.FacilityFeatures.Eating_tube)
                  span.checkmark
      br 
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Transfers
        .col-md-6
          .form-check
              label.form-check-label(for='transfers_none')= myconstants.constants('Transfers_none')
                  input.form-check-input(type='checkbox', name='transfers_none', id='transfers_none', placeholder='transfers_none' value=1, checked= currentFacility.FacilityFeatures.Transfers_none)
                  span.checkmark
          .form-check
              label.form-check-label(for='transfers_intermittent')= myconstants.constants('Transfers_intermittent')
                  input.form-check-input(type='checkbox', name='transfers_intermittent', id='transfers_intermittent', placeholder='transfers_intermittent' value=1, checked= currentFacility.FacilityFeatures.Transfers_intermittent)
                  span.checkmark
          .form-check
              label.form-check-label(for='transfers_oneperson')= myconstants.constants('Transfers_oneperson')
                  input.form-check-input(type='checkbox', name='transfers_oneperson', id='transfers_oneperson', placeholder='transfers_oneperson' value=1, checked= currentFacility.FacilityFeatures.Transfers_oneperson)
                  span.checkmark
          .form-check
              label.form-check-label(for='transfers_twoperson')= myconstants.constants('Transfers_twoperson')
                  input.form-check-input(type='checkbox', name='transfers_twoperson', id='transfers_twoperson', placeholder='transfers_twoperson' value=1, checked= currentFacility.FacilityFeatures.Transfers_twoperson)
                  span.checkmark
          .form-check
              label.form-check-label(for='transfers_cannot')= myconstants.constants('Transfers_cannot')
                  input.form-check-input(type='checkbox', name='transfers_cannot', id='transfers_cannot', placeholder='transfers_cannot' value=1, checked= currentFacility.FacilityFeatures.Transfers_cannot)
                  span.checkmark
      br    
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Mobility
        .col-md-6
          .form-check
              label.form-check-label(for='mobiliy_noassisstance')= myconstants.constants('Mobiliy_noassisstance')
                  input.form-check-input(type='checkbox', name='mobiliy_noassisstance', id='mobiliy_noassisstance', placeholder='mobiliy_noassisstance' value=1, checked= currentFacility.FacilityFeatures.Mobiliy_noassisstance)
                  span.checkmark
          .form-check
              label.form-check-label(for='mobiliy_intermittent')= myconstants.constants('Mobiliy_intermittent')
                  input.form-check-input(type='checkbox', name='mobiliy_intermittent', id='mobiliy_intermittent', placeholder='mobiliy_intermittent' value=1, checked= currentFacility.FacilityFeatures.Mobiliy_intermittent)
                  span.checkmark
          .form-check
              label.form-check-label(for='mobiliy_continual')= myconstants.constants('Mobiliy_continual')
                  input.form-check-input(type='checkbox', name='mobiliy_continual', id='mobiliy_continual', placeholder='mobiliy_continual' value=1, checked= currentFacility.FacilityFeatures.Mobiliy_continual)
                  span.checkmark
          .form-check
              label.form-check-label(for='mobiliy_wheels')= myconstants.constants('Mobiliy_wheels')
                  input.form-check-input(type='checkbox', name='mobiliy_wheels', id='mobiliy_wheels', placeholder='mobiliy_wheels' value=1, checked= currentFacility.FacilityFeatures.Mobiliy_wheels)
                  span.checkmark
          .form-check
              label.form-check-label(for='mobiliy_cannotmove')= myconstants.constants('Mobiliy_cannotmove')
                  input.form-check-input(type='checkbox', name='mobiliy_cannotmove', id='mobiliy_cannotmove', placeholder='mobiliy_cannotmove' value=1, checked= currentFacility.FacilityFeatures.Mobiliy_cannotmove)
                  span.checkmark
      br     
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Toileting
        .col-md-6
          .form-check
              label.form-check-label(for='toileting_noassisstance')= myconstants.constants('Toileting_noassisstance')
                  input.form-check-input(type='checkbox', name='toileting_noassisstance', id='toileting_noassisstance', placeholder='toileting_noassisstance' value=1, checked= currentFacility.FacilityFeatures.Toileting_noassisstance)
                  span.checkmark
          .form-check
              label.form-check-label(for='toileting_bowel')= myconstants.constants('Toileting_bowel')
                  input.form-check-input(type='checkbox', name='toileting_bowel', id='toileting_bowel', placeholder='toileting_bowel' value=1, checked= currentFacility.FacilityFeatures.Toileting_bowel)
                  span.checkmark
          .form-check
              label.form-check-label(for='toileting_continual')= myconstants.constants('Toileting_continual')
                  input.form-check-input(type='checkbox', name='toileting_continual', id='toileting_continual', placeholder='toileting_continual' value=1, checked= currentFacility.FacilityFeatures.Toileting_continual)
                  span.checkmark
          .form-check
              label.form-check-label(for='toileting_nobathroomincontinent')= myconstants.constants('Toileting_nobathroomincontinent')
                  input.form-check-input(type='checkbox', name='toileting_nobathroomincontinent', id='toileting_nobathroomincontinent', placeholder='toileting_nobathroomincontinent' value=1, checked= currentFacility.FacilityFeatures.Toileting_nobathroomincontinent)
                  span.checkmark
          .form-check
              label.form-check-label(for='toileting_bathroomincontinent')= myconstants.constants('Toileting_bathroomincontinent')
                  input.form-check-input(type='checkbox', name='toileting_bathroomincontinent', id='toileting_bathroomincontinent', placeholder='toileting_bathroomincontinent' value=1, checked= currentFacility.FacilityFeatures.Toileting_bathroomincontinent)
                  span.checkmark
      br 
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Verbal
        .col-md-6
          .form-check
              label.form-check-label(for='verbal_none')= myconstants.constants('Verbal_none')
                  input.form-check-input(type='checkbox', name='verbal_none', id='verbal_none', placeholder='verbal_none' value=1, , checked= currentFacility.FacilityFeatures.Verbal_none)
                  span.checkmark
          .form-check
              label.form-check-label(for='verbal_infrequent')= myconstants.constants('Verbal_infrequent')
                  input.form-check-input(type='checkbox', name='verbal_infrequent', id='verbal_infrequent', placeholder='verbal_infrequent' value=1, checked= currentFacility.FacilityFeatures.Verbal_infrequent)
                  span.checkmark
          .form-check
              label.form-check-label(for='verbal_predictable')= myconstants.constants('Verbal_predictable')
                  input.form-check-input(type='checkbox', name='verbal_predictable', id='verbal_predictable', placeholder='verbal_predictable' value=1, checked= currentFacility.FacilityFeatures.Verbal_predictable)
                  span.checkmark
          .form-check
              label.form-check-label(for='verbal_onceunpredictable')= myconstants.constants('Verbal_onceunpredictable')
                  input.form-check-input(type='checkbox', name='verbal_onceunpredictable', id='verbal_onceunpredictable', placeholder='verbal_onceunpredictable' value=1, checked= currentFacility.FacilityFeatures.Verbal_onceunpredictable)
                  span.checkmark
          .form-check
              label.form-check-label(for='verbal_multipleunpredictable')= myconstants.constants('Verbal_multipleunpredictable')
                  input.form-check-input(type='checkbox', name='verbal_multipleunpredictable', id='verbal_multipleunpredictable', placeholder='verbal_multipleunpredictable' value=1, checked= currentFacility.FacilityFeatures.Verbal_multipleunpredictable)
                  span.checkmark
      br 
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Physical
        .col-md-6
          .form-check
              label.form-check-label(for='physical_none')= myconstants.constants('Physical_none')
                  input.form-check-input(type='checkbox', name='physical_none', id='physical_none', placeholder='physical_none' value=1, checked= currentFacility.FacilityFeatures.Physical_none)
                  span.checkmark
          .form-check
              label.form-check-label(for='physical_infrequent')= myconstants.constants('Physical_infrequent')
                  input.form-check-input(type='checkbox', name='physical_infrequent', id='physical_infrequent', placeholder='physical_infrequent' value=1, checked= currentFacility.FacilityFeatures.Physical_infrequent)
                  span.checkmark
          .form-check
              label.form-check-label(for='physical_predictable')= myconstants.constants('Physical_predictable')
                  input.form-check-input(type='checkbox', name='physical_predictable', id='physical_predictable', placeholder='physical_predictable' value=1, checked= currentFacility.FacilityFeatures.Physical_predictable)
                  span.checkmark
          .form-check
              label.form-check-label(for='physical_onceunpredictable')= myconstants.constants('Physical_onceunpredictable')
                  input.form-check-input(type='checkbox', name='physical_onceunpredictable', id='physical_onceunpredictable', placeholder='physical_onceunpredictable' value=1, checked= currentFacility.FacilityFeatures.Physical_onceunpredictable)
                  span.checkmark
          .form-check
              label.form-check-label(for='physical_multipleunpredictable')= myconstants.constants('Physical_multipleunpredictable')
                  input.form-check-input(type='checkbox', name='physical_multipleunpredictable', id='physical_multipleunpredictable', placeholder='physical_multipleunpredictable' value=1, checked= currentFacility.FacilityFeatures.Physical_multipleunpredictable)
                  span.checkmark
      br 
      .form-group.row
        label.col-form-label.col-form-label__stacked.check-group-label Behaviour
        .col-md-6
          .form-check
              label.form-check-label(for='behaviourial_none')= myconstants.constants('Behaviourial_none')
                  input.form-check-input(type='checkbox', name='behaviourial_none', id='behaviourial_none', placeholder='behaviourial_none', value=1, checked= currentFacility.FacilityFeatures.Behaviourial_none)
                  span.checkmark
          .form-check
              label.form-check-label(for='behaviourial_yesnondisruptive')= myconstants.constants('Behaviourial_yesnondisruptive')
                  input.form-check-input(type='checkbox', name='behaviourial_yesnondisruptive', id='behaviourial_yesnondisruptive', placeholder='behaviourial_yesnondisruptive' value=1, checked= currentFacility.FacilityFeatures.Behaviourial_yesnondisruptive)
                  span.checkmark
          .form-check
              label.form-check-label(for='behaviourial_infrequent')= myconstants.constants('Behaviourial_infrequent')
                  input.form-check-input(type='checkbox', name='behaviourial_infrequent', id='behaviourial_infrequent', placeholder='behaviourial_infrequent' value=1, checked= currentFacility.FacilityFeatures.Behaviourial_infrequent)
                  span.checkmark
          .form-check
              label.form-check-label(for='behaviourial_frequent')= myconstants.constants('Behaviourial_frequent')
                  input.form-check-input(type='checkbox', name='behaviourial_frequent', id='behaviourial_frequent', placeholder='behaviourial_frequent' value=1, checked= currentFacility.FacilityFeatures.Behaviourial_frequent)
                  span.checkmark
          .form-check
              label.form-check-label(for='behaviourial_unpredictable')= myconstants.constants('Behaviourial_unpredictable')
                  input.form-check-input(type='checkbox', name='behaviourial_unpredictable', id='behaviourial_unpredictable', placeholder='behaviourial_unpredictable' value=1, checked= currentFacility.FacilityFeatures.Behaviourial_unpredictable)
                  span.checkmark
      .form-section
        .form-group.form-section-header
          h3.text-left Specialized Assistance Accomodations
              h4.text-left What types of special assistance can your facility provide?
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label How Many Insulin Shots Can You Administer?
          .col-md-4
            input.form-control(type='number', name='insulinshots', id='insulinshots', placeholder='Insulin Shots', autofocus, required, value=currentFacility.InsulinShots)
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Hallucinations
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='hallucinations_yes') Yes
                    input.form-radio-input(type='radio', name='hallucinations', id='hallucinations_yes' value = 'Y', checked= currentFacility.Hallucination==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='hallucinations_no') No
                    input.form-radio-input(type='radio', name='hallucinations', id='hallucinations_no' value = 'N', checked= currentFacility.Hallucination==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Memory Care
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='memorycare_yes') Yes
                    input.form-radio-input(type='radio', name='memorycare', id='memorycare_yes' value = 'Y', checked= currentFacility.MemoryCare==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='memorycare_no') No
                    input.form-radio-input(type='radio', name='memorycare', id='memorycare_no' value = 'N', checked= currentFacility.MemoryCare==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Would you Take a Resident with an Oxygen Tank?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='oxygentank_yes') Yes
                    input.form-radio-input(type='radio', name='oxygentank', id='oxygentank_yes' value = 'Y', checked= currentFacility.OxygenTank==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='oxygentank_no') No
                    input.form-radio-input(type='radio', name='oxygentank', id='oxygentank_no' value = 'N', checked= currentFacility.OxygenTank==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Would you Take a Resident who cannot change an Oxygen Tank by Themselves?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='changeoxygentank_yes') Yes
                    input.form-radio-input(type='radio', name='changeoxygentank', id='changeoxygentank_yes' value = 'Y' checked= currentFacility.ChangeOxygenTank==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='changeoxygentank_no') No
                    input.form-radio-input(type='radio', name='changeoxygentank', id='changeoxygentank_no' value = 'N' checked= currentFacility.ChangeOxygenTank==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Would you take a Resident who needs to be on oxygen at all times?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='alltimeoxygen_yes') Yes
                    input.form-radio-input(type='radio', name='alltimeoxygen', id='alltimeoxygen_yes' value = 'Y',  checked= currentFacility.AllTimeOxygen==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='alltimeoxygen_no') No
                    input.form-radio-input(type='radio', name='alltimeoxygen', id='alltimeoxygen_no' value = 'N' checked= currentFacility.AllTimeOxygen==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Would you take a Resident who cannot change their own catheter/colostomy bag?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='changecatheter_yes') Yes
                    input.form-radio-input(type='radio', name='changecatheter', id='changecatheter_yes' value = 'Y' checked= currentFacility.ChangeCatheter==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='changecatheter_no') No
                    input.form-radio-input(type='radio', name='changecatheter', id='changecatheter_no' value = 'N' checked= currentFacility.ChangeCatheter==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Do you provide medication management?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='medicationmanagement_yes') Yes
                    input.form-radio-input(type='radio', name='medicationmanagement', id='medicationmanagement_yes' value = 'Y' checked= currentFacility.MedicationManagement==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='medicationmanagement_no') No
                    input.form-radio-input(type='radio', name='medicationmanagement', id='medicationmanagement_no' value = 'N' checked= currentFacility.MedicationManagement==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-md-5.col-form-label Do you provide thickened liquid diets for residents?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='liquiddiets_yes') Yes
                    input.form-radio-input(type='radio', name='liquiddiets', id='liquiddiets_yes' value = 'Y' checked= currentFacility.LiquidDiets==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='liquiddiets_no') No
                    input.form-radio-input(type='radio', name='liquiddiets', id='liquiddiets_no' value = 'N' checked= currentFacility.LiquidDiets==='N')
                    span.radio
        br 
        .form-group.row
          label.col-lg-3.col-md-5.col-form-label Do you provide ground diets for residents?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='grounddiets_yes') Yes
                    input.form-radio-input(type='radio', name='grounddiets', id='grounddiets_yes' value = 'Y' checked= currentFacility.GroundDiets==='Y')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='grounddiets_no') No
                    input.form-radio-input(type='radio', name='grounddiets', id='grounddiets_no' value = 'N' checked= currentFacility.GroundDiets==='N')
                    span.radio
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-willow(type='submit')
        | Add Room

