extends layout

block content
    mixin tabs(tabsItems)
        - var tabActive = function (t) { return t.active ? 'active' : '' }

        mixin tab(index)
            - tabsItems[index].body = block;

        block

        - tabsItems[0].active = tabsItems[0].active || !tabsItems.some(function (t) { return t.active; })

        div
            ul.nav.nav-tabs(role="tablist")
                button.btn.btn-secondary(type='submit')
                  | Update Facility
                each tab, index in tabsItems
                    li(role="presentation")
                        a(href="#"+"tab-id-" + index, aria-controls="tab-id-" + index, role="tab", data-toggle="tab", class=tabActive(tab))
                          if tab.icon
                              span.icon(class=tab.icon)
                          span= tab.title
                

            .tab-content
                each tab, index in tabsItems
                    .tab-pane(id="tab-id-" + index, role="tabpanel", class=tabActive(tab))
                        - tab.body && tab.body()

    -
        var data = [
            { title: 'General', active: true },
            { title: 'Location' },
            { title: 'Finance' },
            { title: 'Behavioral Problems' },
            { title: 'Additional Care' }
        ];

    // Here is the actual template logic
    form.body-form.body-form--with-tabs(id='facupdate-form', method='POST', action='/updatefacility/'+facility._id.toString()+'?_method=PUT', novalidate)
        input(type='hidden', name='_csrf', value=_csrf)
        .side-tabs
          +tabs(data)
            each tab, index in data
              +tab(index)
                -if (this.title == 'General')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Facility Info
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Facility Name
                      .col-md-6
                        input.form-control(type='text', name='facilityName', id='facilityName', value= facility.FacilityName, placeholder='Facility Name')
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Contact Number
                      .col-md-6
                        input.form-control(type='number', name='contactNumber', id='contactNumber', value= facility.Contact, placeholder='XXX-XXX-XXXX')
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Contact Name
                      .col-md-6
                        input.form-control(type='text', name='contactName', id='contactName', value= facility.ContactName, placeholder='Contact Name')
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Email Address
                      .col-md-6
                        input.form-control(type='text', name='emailAddress', id='emailAddresss', value= facility.Email, placeholder='Email Address')
                -else if (this.title == 'Location')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Address
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Street
                      .col-md-6
                        input.form-control(type='text', name='street', id='street',value= facility.Address.street, placeholder='Street', optional)
                    .form-group.row
                      label.col-form-label.col-form-label__stacked City
                      .col-md-6
                        input.form-control(type='text', name='city', id='city',value= facility.Address.city, placeholder='City', optional)
                    .form-group.row
                      .form-group__inline
                        label.col-form-label.col-form-label__stacked State
                        .col-md-12
                            input.form-control(type='text', name='state', id='state',value= facility.Address.state, placeholder='State', optional)
                      .form-group__inline
                        label.col-form-label.col-form-label__stacked Zip
                        .col-md-12
                            input.form-control(type='text', name='zip', id='zip',value= facility.Address.zip, placeholder='Zip', optional)
                -else if (this.title == 'Finance')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Finance
                      .form-group.row
                        label.col-form-label.col-form-label__stacked.check-group-labelDoes Are you on MedicAid?
                        .col-md-4
                          .col-md-12
                            label.form-radio-label.ml-4(for='medicaid_yes') Yes
                              input.form-radio-input(type='radio', name='medicaid', id='medicaid_yes' value = 'true', checked= facility.MedicAid)
                              span.radio
                          .col-md-12
                            label.form-radio-label.ml-4(for='medicaid_no') No
                              input.form-radio-input(type='radio', name='medicaid', id='medicaid_no' value = 'false', checked= !facility.MedicAid)
                              span.radio
                      .form-group.row
                        label.col-form-label.col-form-label__stacked Desired Rent
                        .col-md-6
                          input.form-control(type='number', name='desiredRent', id='desiredrent', value= facility.DesiredRent, placeholder='0.00')

                -else if (this.title == 'Behavioral Problems')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Behavioral Problems

                    .form-group.row
                      label.col-form-label.col-form-label__stacked.check-group-labelDoes Does your Senior Exhibit any Behavioral Problems?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='behaviorproblems_yes') Yes
                            input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_yes' value= 'true', checked=facility.BehaviorProblems)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='behaviorproblems_no') No
                            input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_no' value= 'false', checked=!facility.BehaviorProblems)
                            span.radio
                    .form-group.row
                      label.col-form-label.col-form-label__stacked.check-group-labelDoes Are They Physically Aggressive?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='physicalaggressive_yes') Yes
                            input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_yes' value= 'true', checked= facility.PhysicalAggressive)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='physicalaggressive_no') No
                            input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_no' value= 'false', checked= !facility.PhysicalAggressive)
                            span.radio
                    .form-group.row
                      label.col-form-label.col-form-label__stacked.check-group-labelDoes Are the Behaviors Severe or Frequent?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='severeorfrequent_yes') Yes
                            input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_yes' value= 'true', checked= facility.SevereOrFrequentBehaviors)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='severeorfrequent_no') No
                            input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_no' value= 'false', checked= !facility.SevereOrFrequentBehaviors)
                            span.radio

                - else if (this.title == 'Additional Care')
                  .form-section
                    .form-group.form-section-header
                      h3.text-left Additional Health Accomodations
                        h4.text-left What types of special assistance can your facility provide?
                    br 
                    .form-group.row
                      label.col-lg-4.col-md-6.col-form-label How Many Insulin Shots Can You Administer per person per day?
                      .col-md-4
                        input.form-control(type='number', name='insulinShots', id='insulinshots', placeholder='Insulin Shots', autofocus, required, value=facility.InsulinShots)
                    br 
                    .form-group.row
                      label.col-lg-4.col-md-6.col-form-label Memory Care
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='memorycare_yes') Yes
                            input.form-radio-input(type='radio', name='memoryCare', id='memorycare_yes' value = 'true', checked= facility.MemoryCare)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='memorycare_no') No
                            input.form-radio-input(type='radio', name='memoryCare', id='memorycare_no' value = 'false', checked= !facility.MemoryCare)
                            span.radio
                    br 
                    .form-group.row
                      label.col-lg-4.col-md-6.col-form-label Would you Take a Resident with an Oxygen Tank?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='oxygentank_yes') Yes
                            input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_yes' value = 'true', checked= facility.OxygenTank)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='oxygentank_no') No
                            input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_no' value = 'false', checked= !facility.OxygenTank)
                            span.radio
                    br
                    .form-group.row
                      label.col-lg-4.col-md-6.col-form-label Would you take a Resident who needs to be on oxygen at all times?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='alltimeoxygen_yes') Yes
                            input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_yes' value = 'true', checked= facility.ContinousOxygen)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='alltimeoxygen_no') No
                            input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_no' value = 'false', checked= !facility.ContinousOxygen)
                            span.radio
                    br 
                    .form-group.row
                      label.col-lg-4.col-md-6.col-form-label Would you take a Resident who cannot change their own catheter/colostomy bag?
                      .col-md-4
                        .col-md-12
                          label.form-radio-label.ml-4(for='changecatheter_yes') Yes
                            input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_yes' value = 'true', checked= facility.ChangeCatheterOrColostomyBag)
                            span.radio
                        .col-md-12
                          label.form-radio-label.ml-4(for='changecatheter_no') No
                            input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_no' value = 'false', checked= !facility.ChangeCatheterOrColostomyBag)
                            span.radio
                    br
                    .form-group.row
                      label.col-lg-4.col-md-12.col-form-label Would you be able to assist a Resident with:
                        .col-md-12
                          .col-md-12
                            label.col-md-12.col-md-2.col-form-inner Eating
                              .col-md-12
                                label.form-radio-label.ml-4(for='eating_yes') Yes
                                  input.form-radio-input(type='radio', name='eating', id='eating_yes', value = 'true', checked= facility.eating)
                                  span.radio
                              .col-md-12
                                label.form-radio-label.ml-4(for='eating_no') No
                                  input.form-radio-input(type='radio', name='eating', id='eating_no', value = 'false', checked= !facility.eating)
                                  span.radio
                          .col-md-12
                            label.col-md-12.col-md-2.col-form-inner Dressing
                              .col-md-12
                                label.form-radio-label.ml-4(for='dressing_yes') Yes
                                  input.form-radio-input(type='radio', name='dressing', id='dressing_yes', value = 'true', checked= facility.dressing)
                                  span.radio
                              .col-md-12
                                label.form-radio-label.ml-4(for='dressing_no') No
                                  input.form-radio-input(type='radio', name='dressing', id='dressing_no', value = 'false', checked= !facility.dressing)
                                  span.radio
                          .col-md-12
                            label.col-md-12.col-md-2.col-form-inner Bathing
                              .col-md-12
                                label.form-radio-label.ml-4(for='bathing_yes') Yes
                                  input.form-radio-input(type='radio', name='bathing', id='bathing_yes', value = 'true', checked= facility.bathing)
                                  span.radio
                              .col-md-12
                                label.form-radio-label.ml-4(for='bathing_no') No
                                  input.form-radio-input(type='radio', name='bathing', id='bathing_no', value = 'false', checked= !facility.bathing)
                                  span.radio
                          .col-md-12
                            label.col-md-12.col-md-2.col-form-inner Transfers (Moving between furniture)
                              .col-md-12
                                label.form-radio-label.ml-4(for='transfers_yes') Yes
                                  input.form-radio-input(type='radio', name='transfers', id='transfers_yes', value = 'true', checked= facility.transfers)
                                  span.radio
                              .col-md-12
                                label.form-radio-label.ml-4(for='transfers_no') No
                                  input.form-radio-input(type='radio', name='transfers', id='transfers_no', value = 'false', checked= !facility.transfers)
                                  span.radio
                          .col-md-12
                            label.col-md-12.col-md-2.col-form-inner Moving (Moving around in general)
                              .col-md-12
                                label.form-radio-label.ml-4(for='moving_yes') Yes
                                  input.form-radio-input(type='radio', name='moving', id='moving_yes', value = 'true', checked= facility.moving)
                                  span.radio
                              .col-md-12
                                label.form-radio-label.ml-4(for='moving_no') No
                                  input.form-radio-input(type='radio', name='moving', id='moving_no', value = 'false', checked= !facility.moving)
                                  span.radio
                          .col-md-12
                            label.col-md-12.col-md-2.col-form-inner Toileting
                              .col-md-12
                                label.form-radio-label.ml-4(for='toileting_yes') Yes
                                  input.form-radio-input(type='radio', name='toileting', id='toileting_yes', value = 'true', checked= facility.toileting)
                                  span.radio
                              .col-md-12
                                label.form-radio-label.ml-4(for='toileting_no') No
                                  input.form-radio-input(type='radio', name='toileting', id='toileting_no', value = 'false', checked= !facility.toileting)
                                  span.radio
                    br
                    .form-group.row
                      label.col-form-label.col-form-label__stacked Any additional issues?
                      .col-md-6
                        input.form-control(name='addititonalIssues', id='additionalissues', value=facility.AddititonalIssues, placeholder='Additional Issues?')
